//MAIN CONTAINERS EXCLUDING THE MEDIA Q CHANGES
// I DECIDED TO SEPERATE ALL THE MAIN CONTAINERS AND APPLY THE FLEX PROPERTIES HERE TO HELP ME UNDERSTAND AND KEEP TRACK OF THE PARENT CONTAINERS FOR FLEXBOX
//Header

@mixin header(){
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: auto;
}

@mixin gradient-text(){
    display:flex;
    justify-content: center;
}

@mixin navbar-min-320-575(){
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

@mixin navbar-min-576-768(){
    display: flex;
    justify-content: flex-end;
    flex-direction: column;    
}

//Page Container

@mixin page-container(){
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

@mixin blog-container(){
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    width: 70%;
}

@mixin page-margins(){
    margin-top: 64px;
    margin-bottom: 100px; 
}

@mixin tool-img-container(){
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

//Blog

@mixin blog-text(){
    display: inline-flex;
    flex-direction: column;
}


//Footer

@mixin footer-container(){
    display: flex;
    justify-content: center;
    
}