// CREATED PATHSHELL FOR THE VARIABLES TO I COULD CHANGE THE MAIN VARIABLE COLORS ECT IN THIS PAGE.

$primarycolour: #0b0c10;
$bannercolour: #66fcf1;
$hovercolour:#66fcf1;
$navcolour: #033535; 
$textcolour: #fff;

$fontstyle: 'Roboto Mono', monospace;
$fontstyle-para: 'Roboto', sans-serif;



