html {
  font-size: 16px;
}

body {
  background-color: #0b0c10;
  color: white;
  margin: 0;
  font-family: "Roboto Mono", monospace;
  margin-bottom: 64px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: auto;
  background-color: #0b0c10;
}

header .nav-bar {
  width: 100%;
  height: auto;
  z-index: 1;
  position: fixed;
  background-color: #0b0c10;
  top: 0;
}

header .nav-bar ul {
  padding-left: 0;
  margin: 0;
}

header .nav-bar ul li {
  width: 100%;
  font-size: 1rem;
  list-style-type: none;
  font-size: 1rem;
  font-family: "Roboto Mono", monospace;
  font-weight: normal;
  text-align: center;
}

header .nav-bar a {
  padding: 0;
  background-color: #0b0c10;
  text-decoration: none;
  color: #fff;
}

header .nav-bar a:hover {
  color: #66fcf1;
  background-color: #0b0c10;
  font-size: 120%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

header .nav-bar .gradient-text {
  font-size: 1rem;
}

.wrap {
  height: 100%;
  width: auto;
}

.gradient-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-family: "Roboto Mono", monospace;
  background: -webkit-gradient(linear, left top, right top, from(#66fcf1), color-stop(#ff0490), color-stop(#8f00f1), to(#39ff14));
  background: linear-gradient(to right, #66fcf1, #ff0490, #8f00f1, #39ff14);
  background-size: 300% 300%;
  -webkit-animation: neon 2s ease-in-out infinite;
          animation: neon 2s ease-in-out infinite;
  background-clip: text;
  -webkit-background-clip: text;
  color: black;
  font-size: 10rem;
  -webkit-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
  text-shadow: 2px 2px 10px #66fcf22c;
  margin: 0px 0px 0px 0px;
  -webkit-text-stroke: 0.5px #66fcf1;
}

.gradient-text .reverse-letter {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  color: #66fcf1;
}

.gradient-text:hover {
  color: rgba(0, 0, 0, 0);
}

@-webkit-keyframes neon {
  0% {
    background-position: left;
  }
  15% {
    background-position: right;
  }
  25% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  75% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

@keyframes neon {
  0% {
    background-position: left;
  }
  15% {
    background-position: right;
  }
  25% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  75% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

.page-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 64px;
  margin-bottom: 100px;
  width: 100%;
  height: auto;
  padding-top: 64px;
}

.page-container .main-heading {
  font-size: 1.8rem;
  width: auto;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

.page-container .main-text {
  text-align: center;
  width: 80%;
}

.page-container .sub-heading {
  font-size: 1.2rem;
  width: auto;
  text-align: left;
  text-shadow: 2px 2px 5px #ff00ff;
}

.page-container .par-text {
  font-size: 1rem;
  text-align: left;
  font-family: "Roboto", sans-serif;
  line-height: 140%;
}

.page-container ul {
  font-size: 1rem;
}

.page-container .resume-icon {
  width: 3rem;
}

.page-container .code-logo {
  background-color: white;
  border-radius: 20%;
  width: 8rem;
}

.page-container .code-logo:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.page-container .codecademy-logo {
  background-color: white;
  border-radius: 20px;
  width: 12rem;
}

.page-container .codecademy-logo:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.page-container p.learn-more {
  margin: 0;
  font-size: 0.8rem;
}

.page-container .arrow-neon {
  width: 40px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -ms-flex-line-pack: center;
      align-content: center;
}

.page-container img.blog-img1 {
  height: auto;
  width: 100%;
}

.page-container .hello-pic {
  height: auto;
  max-width: 80%;
  padding: 0;
}

.page-container input[type="text"],
.page-container select,
.page-container textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  font-size: 0.8rem;
  font-family: "Roboto Mono", monospace;
}

.page-container input[type="submit"] {
  width: 60px;
  height: 30px;
  border-radius: 10%;
  margin-left: auto;
  padding: 4px 8px 4px 8px;
  background-color: #66fcf1;
  font-size: 0.7rem;
}

.page-container input[type="submit"]:hover {
  background-color: black;
  color: white;
  -webkit-box-shadow: 2px 2px 16px #ff00ff;
          box-shadow: 2px 2px 16px #ff00ff;
  border: 1px solid #66fcf1;
}

.page-container input[type="text"],
.page-container textarea {
  border-radius: 20px;
  border-color: #66fcf1;
  border: 1px solid #66fcf1;
  background-color: #0b0c10;
  color: white;
  outline: none;
}

.page-container input[type="text"]:hover,
.page-container textarea:hover {
  color: #66fcf1;
  -webkit-box-shadow: 4px 4px 24px #ff00ff;
          box-shadow: 4px 4px 24px #ff00ff;
}

.page-container input:focus {
  outline: none;
}

.page-container .contact-form {
  border-radius: 5px;
  background-color: #0b0c10;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 70%;
  margin-bottom: 24px;
}

.page-container label {
  font-size: 0.8rem;
}

.page-container .blog-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
  border-radius: 20px;
  border-color: #66fcf1;
  border: 1px solid #66fcf1;
  padding: 24px;
  margin: 5%;
}

.page-container .blog-container:hover {
  -webkit-box-shadow: 2px 2px 16px #ff00ff;
          box-shadow: 2px 2px 16px #ff00ff;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.page-container .blog-container .blog-text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page-container .blog-container .blog-heading {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
}

.page-container .blog-container time {
  font-size: 0.8rem;
}

.page-container .blog-container p {
  font-size: 1rem;
}

.page-container .blog-container a {
  text-align: right;
}

.page-container .blog-container p.blog-ul-main {
  font-size: 0.4rem;
}

.page-container .blog-container p.blog-li {
  font-size: 0.7rem;
}

.page-container .blog-container .blog-button {
  width: auto;
  border-radius: 10%;
  margin-left: auto;
  padding: 4px 8px 4px 8px;
  background-color: #66fcf1;
  font-size: 0.7rem;
  text-decoration: none;
  color: black;
}

.page-container .blog-container .blog-button:hover {
  background-color: black;
  color: white;
  -webkit-box-shadow: 2px 2px 16px #ff00ff;
          box-shadow: 2px 2px 16px #ff00ff;
  border: 1px solid #66fcf1;
}

.page-container .blog-container .tool-img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 5px 5px 5px 5px;
}

.page-container .blog-container .tool-img-container .tool-img {
  width: 2.5rem;
}

div p.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 0.5rem;
  color: #898080;
}

.contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  padding: 30px 0px 30px 0px;
}

.contact-container .contact {
  width: 40px;
}

.contact-container p {
  font-size: 0.7rem;
}

#footer-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: auto;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #66fcf1;
}

#footer-bar ul {
  list-style-type: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

#footer-bar li {
  float: left;
}

#footer-bar .social {
  height: auto;
  width: 30px;
  color: black;
  margin: 8px;
}

#footer-bar .social:hover {
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
  .page-container {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .page-container .page-container .main-heading {
    font-size: 1.7rem;
    width: 50%;
  }
  .page-container .main-text {
    font-size: 2rem;
  }
  .page-container .sub-heading {
    font-size: 1.4rem;
    text-align: center;
  }
  .page-container .par-text {
    font-size: 1rem;
  }
  .page-container ul {
    font-size: 1.2rem;
  }
  .page-container .resume-icon {
    width: 4rem;
  }
  .page-container p.learn-more {
    font-size: 1rem;
  }
  .page-container .arrow-neon {
    width: 60px;
  }
  .page-container .hello-pic {
    max-width: 40%;
  }
  .page-container .blog-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 60%;
  }
  .page-container .blog-container .blog-heading {
    font-size: 2rem;
  }
  .page-container .blog-container .time {
    font-size: 0.8rem;
  }
  .page-container .blog-container p.blog-li {
    font-size: 0.8rem;
  }
  .page-container .blog-container .blog-button {
    font-size: 1rem;
  }
  .page-container .blog-container .tool-img-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 5px 5px 5px 5px;
  }
  .page-container .blog-container .tool-img-container .tool-img {
    width: 4rem;
  }
  .page-container .blog-container input[type="text"],
  .page-container .blog-container select,
  .page-container .blog-container textarea {
    width: 100%;
    font-size: 1rem;
  }
  .page-container .blog-container input[type="submit"] {
    font-size: 1rem;
    width: 60px;
    height: auto;
  }
  .page-container .blog-container .contact-form {
    width: 40%;
  }
  .page-container .blog-container label {
    font-size: 1rem;
  }
  .page-container #footer-bar .social {
    width: 30px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
  header .nav-bar ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 50px;
  }
  header .nav-bar ul li {
    font-size: 1.5rem;
  }
  header .nav-bar ul .gradient-text {
    font-size: 2rem;
  }
  .page-container {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .page-container .main-heading {
    font-size: 1.8rem;
    width: 40%;
  }
  .page-container .main-text {
    width: 40%;
    margin-top: 150px;
    margin-bottom: 100px;
  }
  .page-container .sub-heading {
    font-size: 1.2rem;
  }
  .page-container .par-text {
    font-size: 1rem;
  }
  .page-container ul {
    font-size: 1.3rem;
  }
  .page-container .resume-icon {
    width: 6rem;
  }
  .page-container p.learn-more {
    font-size: 1.3rem;
  }
  .page-container .arrow-neon {
    width: 60px;
  }
  .page-container p {
    font-size: 0.8rem;
  }
  .page-container .wrap .gradient-text {
    font-size: 15rem;
    margin: 50px 0px 50px 0px;
  }
  .page-container #footer-bar .social {
    width: 40px;
  }
  .page-container input[type="text"],
  .page-container select,
  .page-container textarea {
    width: 100%;
    font-size: 1rem;
  }
  .page-container input[type="submit"] {
    font-size: 1rem;
    width: 80px;
    height: auto;
  }
  .page-container .contact-form {
    width: 60%;
  }
  .page-container label {
    font-size: 1rem;
  }
  .page-container .blog-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 30%;
  }
  .page-container .blog-container .blog-heading {
    font-size: 1.5rem;
  }
  .page-container .blog-container time {
    font-size: 0.8rem;
  }
  .page-container .blog-container p.blog-li {
    font-size: 0.8rem;
  }
  .page-container .blog-container .blog-button {
    font-size: 1.2rem;
  }
  .page-container .blog-container .tool-img-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 5px 5px 5px 5px;
  }
  .page-container .blog-container .tool-img-container .tool-img {
    width: 3.5rem;
  }
  .page-container .blog-container input[type="text"],
  .page-container .blog-container select,
  .page-container .blog-container textarea {
    width: 100%;
    font-size: 1rem;
  }
  .page-container .blog-container input[type="submit"] {
    font-size: 1rem;
    width: 80px;
    height: auto;
  }
  .page-container .blog-container .contact-form {
    width: 50%;
  }
  .page-container .blog-container label {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 993px) and (max-width: 2500px) {
  header .nav-bar ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 50px;
  }
  header .nav-bar ul li {
    font-size: 1.5rem;
  }
  header .nav-bar ul .gradient-text {
    font-size: 2rem;
  }
  .page-container {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .page-container .main-heading {
    font-size: 2.5rem;
    width: 50%;
  }
  .page-container .main-text {
    width: 60%;
  }
  .page-container .main-text p {
    font-size: 1.5rem;
  }
  .page-container .sub-heading {
    font-size: 1.5rem;
    text-align: center;
  }
  .page-container .par-text {
    font-size: 1.4rem;
  }
  .page-container ul {
    font-size: 1.4rem;
  }
  .page-container .resume-icon {
    width: 6rem;
  }
  .page-container p.learn-more {
    font-size: 1.2rem;
  }
  .page-container .arrow-neon {
    width: 60px;
  }
  .page-container p.par-text {
    font-size: 1.2rem;
    padding: 10%;
  }
  .page-container .wrap .gradient-text {
    font-size: 25rem;
    margin: 50px 0px 50px 0px;
  }
  .page-container #footer-bar .social {
    width: 60px;
  }
  .page-container input[type="text"],
  .page-container select,
  .page-container textarea {
    width: 100%;
    font-size: 1rem;
  }
  .page-container input[type="submit"] {
    font-size: 1rem;
    width: 80px;
    height: auto;
  }
  .page-container .contact-form {
    width: 50%;
  }
  .page-container .blog-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 30%;
  }
  .page-container .blog-container .blog-heading {
    font-size: 2rem;
    margin-top: 20px;
  }
  .page-container .blog-container time {
    font-size: 1.8rem;
    margin-top: 50px;
  }
  .page-container .blog-container p.blog-li {
    font-size: 1rem;
  }
  .page-container .blog-container p.par-text {
    font-size: 1.2rem;
    padding: 0;
  }
  .page-container .blog-container .blog-button {
    font-size: 1.6rem;
  }
  .page-container .blog-container .tool-img-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 10px 10px 10px 10px;
  }
  .page-container .blog-container .tool-img-container .tool-img {
    width: 4rem;
  }
  .page-container .blog-container p {
    font-size: 1.2rem;
  }
  .page-container input[type="text"],
  .page-container select,
  .page-container textarea {
    width: 100%;
    font-size: 1rem;
  }
  .page-container input[type="submit"] {
    font-size: 1rem;
    width: 80px;
    height: auto;
  }
  .page-container .contact-form {
    width: 30%;
  }
  .page-container label {
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 320px) and (max-width: 575px) and (orientation: landscape) {
  nav.nav-bar ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
/*# sourceMappingURL=main.css.map */